html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: $light;
  font-family: 'Lato-Light', sans-serif;
  display: flex;
  border: solid black;
}

#header {
  margin-top: 1%;
  margin-left: 1%;
  position: absolute;
  h1 {
    margin: 0 0 5px 5px;
    color: $dark;
    font-size: 2vmax;
    font-family: Lato, sans-serif;
    font-weight: 300;
  }
}

#navbar {
  position: absolute;
  margin-right: 20px;
  padding-right: 20px;
  border: solid black;
}